{% extends 'base.html.twig' %}

{% block title %}Hello CategoryCrudController!{% endblock %}

{% block body %}
{{ parent() }}
<!--
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
-->
<div class="d-flex flex-row-reverse">
<button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getAddForm('add_cat')" >Add category</button>



</div>
<div class="my_table mt-3">
<table class="table table-striped mt-3 shadow p-3 mb-5 bg-body rounded">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
{% if cats is defined %}
  {% for cat in cats %}
    <tr>
      <td>{{ cat.id }}</td>
      <td>{{ cat.name }}</td>
      <td>{{ cat.description }}</td>
      <td><button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getEditForm('edit_cat',{{cat.id}})">Edit</button></td>
      <td><button type="button" class="btn btn-danger" onclick="deleteCat({{cat.id}})">Delete</button></td>
    </tr>
  {% endfor %}
{% endif %}
</table>
</div>
{% endblock %}
